[BUG] Error using snake case in socket proxy host name

### Description

Description: Dockhand does not allow snake case as a hostname
Dockhand does not allow snake case as a hostname in Settings -> Environment -> Add environment
- Connection type: Direct connection
- Host: socket_proxy_admin 
- Port: 2375

Trying to set the host to socket_proxy_admin does not work, giving an error "Enter an IP address or hostname only (no protocol or port)". However, setting host to socket-proxy-admin-temp works without issue. Both socket proxy instances are confirmed to be up and running. 

### Steps to reproduce

1. Set up a socket proxy (https://github.com/tecnativa/docker-socket-proxy) titled socket_proxy_admin
2. In Dockhand, go to Settings -> Environment -> Add environment
3. Enter the following: - Connection type: Direct connection
- Host: socket_proxy_admin 
- Port: 2375
4. Click test connection, and it will connect with a green "Connected! Docker 28.3.1 - xx containers"
5. Click save and see error under text box for host, "Enter an IP address or hostname only (no protocol or port)"

### Logs

```bash
No errors in log found.
```

### Browser logs

```bash

```

### Dockhand version

v1.0.21

### Hawser version (if used)

_No response_

### Connection mode

socket rpxy

### Please confirm the following

- [x] I have already searched for relevant existing issues and discussions before opening this report.
- [x] I have updated the title field above with a concise description.

`fnsys/dockhand:v1.0.22` (`fnsys/dockhand:latest`) released, please upgrade.

Hi @jotka 

Just to report that this bug is still there. Had to change my socket container name, switching unserscores with simple dashes for the environment to be added.

I'm on 1.0.22.

TIA for looking into it.

Just stumbled onto this by accident and I'd like to add my two cents: I would not consider this to be a bug.
In general host names can contain only letters (a-z, case insensitive), numbers (0-9) and a hyphen (-) characters. Underscores are not a valid character for host names, even though those are valid in different context in domain names.

This can be confirmed by RFC952 "name" definition and RFC1123 section 2.1, although Wikipedia explains it better in my opinion  https://en.wikipedia.org/wiki/Hostname#Syntax and adds some more details, especially section about browsers being lenient on the use of underscore in host names.

@dsypniewski Thank you very much, I had never heard about this. I've used underscore instead of hyphens in all my hostnames until now, but I'll consider starting changing slowly, to avoid any similar issue in the future.

closing this as fixed and released: `fnsys/dockhand:v1.0.23` (also available as `fnsys/dockhand:latest`)